<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970320027251-n50rlc0r6secibvi3c87njh2b7ak967t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970320027251-n50rlc0r6secibvi3c87njh2b7ak967t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>970320027251-22t7j0ss1l108m2djqnaf87oftbbaslg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAC9ChSdGdBRkhlciSuM7cRYkJeZ6FVlxg</string>
	<key>GCM_SENDER_ID</key>
	<string>970320027251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.exploreuzbekistan</string>
	<key>PROJECT_ID</key>
	<string>travel-app-2vennz</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-app-2vennz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970320027251:ios:04a11d181adf8838811406</string>
</dict>
</plist>